<a href="https://colab.research.google.com/github/phyllsmoyo/ML_classification_assignment/blob/branch2/Project_Diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import the required libraries
import pandas as pd

In [10]:
#import the dataset
#link = https://github.com/phyllsmoyo/Project_02_ML_Linear_Regression/blob/branch_1/pima-indians-diabetes.data
df_diabetes = pd.read_csv('/content/pima-indians-diabetes.data.csv', header=None)

In [11]:
df_diabetes.head(5)

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [16]:
feature_names = ['pregnant', 'gluecose', 'bp', 'skin', 'insulin', 'bmi','pedigree',  'age', 'label']

In [17]:
#Add colum names to the dataframe
df_diabetes = pd.read_csv('/content/pima-indians-diabetes.data.csv', header=None, names=feature_names)

In [20]:
#view the first records of the dataset
df_diabetes.head()

   pregnant  gluecose  bp  skin  insulin   bmi  pedigree  age  label
0         6       148  72    35        0  33.6     0.627   50      1
1         1        85  66    29        0  26.6     0.351   31      0
2         8       183  64     0        0  23.3     0.672   32      1
3         1        89  66    23       94  28.1     0.167   21      0
4         0       137  40    35      168  43.1     2.288   33      1

In [29]:
#Perform simple statical analysis of the dataset
df_diabetes.describe()

         pregnant    gluecose          bp  ...    pedigree         age       label
count  768.000000  768.000000  768.000000  ...  768.000000  768.000000  768.000000
mean     3.845052  120.894531   69.105469  ...    0.471876   33.240885    0.348958
std      3.369578   31.972618   19.355807  ...    0.331329   11.760232    0.476951
min      0.000000    0.000000    0.000000  ...    0.078000   21.000000    0.000000
25%      1.000000   99.000000   62.000000  ...    0.243750   24.000000    0.000000
50%      3.000000  117.000000   72.000000  ...    0.372500   29.000000    0.000000
75%      6.000000  140.250000   80.000000  ...    0.626250   41.000000    1.000000
max     17.000000  199.000000  122.000000  ...    2.420000   81.000000    1.000000

[8 rows x 9 columns]

In [21]:
#check if the data contains missing values
df_diabetes.isnull().any()

pregnant    False
gluecose    False
bp          False
skin        False
insulin     False
bmi         False
pedigree    False
age         False
label       False
dtype: bool

In [23]:
#Shape of the data frame
df_diabetes.shape

(768, 9)

In [33]:
df_diabetes.columns

Index(['pregnant', 'gluecose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree',
       'age', 'label'],
      dtype='object')

In [58]:
#Select the features
#Select relevant features
features_select = ['pregnant', 'insulin', 'bmi', 'age']
X = df_diabetes[features_select]
y = df_diabetes['label']

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: label, Length: 768, dtype: int64

In [59]:
#View the shape of X and y
print(X.shape, y.shape, sep='\n')

(768, 4)
(768,)

In [60]:
#Train Test Split
#By default 75% is training and 25% is testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [61]:
#View the size
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape, sep='\n')

(576, 4)
(192, 4)
(576,)
(192,)

In [63]:
#This is a classification problem as the labels are discrete
#Therefore utilise a Logistic Regression Model

#import the model
from sklearn.linear_model import LogisticRegression
#Instantiate the model class
logreg = LogisticRegression(solver='liblinear')

In [64]:
#Train the data by fitting the model
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [67]:
#Predict
y_pred = logreg.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0])

In [69]:
#Check for accuracy
from sklearn import metrics
print(metrics.accuracy_score(y_test, y_pred))

0.6979166666666666

In [71]:
print(y_test[0:30])
print(y_pred[0:30])

285    0
101    0
581    0
352    0
726    0
472    0
233    0
385    0
556    0
59     0
756    0
341    0
445    1
614    1
371    0
355    1
19     1
711    0
430    0
117    0
493    1
218    1
159    1
667    1
553    0
628    0
620    0
238    1
640    0
750    1
Name: label, dtype: int64
[0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]